body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.project_intro {
    display: grid;
    grid-template-columns: 60% 40%;
    /* grid-template-rows: 100vh; */
}

/* Built with section */
.built_with {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.skill_logos {
    width: 50px;
}

/* Project Images Carousel Section */
.carousel {
    position: relative;
}

#carousel-container {
    /* width: 80%; */
    height: 800px;
    margin: auto;
    overflow: hidden;
}

#image-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    object-fit: cover;
}

#prev-btn, #next-btn {
    cursor: pointer;
    font-size: 20px;
    /* background-color: #f2f2f2; */
    border: none;
    padding: 10px;
    margin-top: 10px;
}

.image-slider {
    position: relative;
    /* height: 400px; */
}
.prev-arrow {
    position: absolute;
    top: 40%;
    right: 0%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.next-arrow {
    position: absolute;
    top: 40%;
    left: 0%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.arrow {
    /* background-color: red;
    color: yellow; */
}

/* Breakdown */
.breakdown {
    padding: 3rem 4rem;
}

/* More Projects Carousel Section */

#moreProjects-carousel-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#moreProjects-image-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.moreProjects-carousel-image {
    width: 100%;
    object-fit: cover;
}

#moreProjects-prev-btn, #moreProjects-next-btn {
    cursor: pointer;
    font-size: 20px;
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    margin-top: 10px;
}
.moreProjects_image-slider {
    position: relative;
    /* height: 400px; */
}
.moreProjects_prev-arrow {
    position: absolute;
    top: 40%;
    right: 0%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.moreProjects_next-arrow {
    position: absolute;
    top: 40%;
    left: 0%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 0;
}





@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .container {
        width: 90%;
    }
    .project_intro {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    .built_with {
        /* flex-direction: column; */
    }
    .logos {
        flex-direction: column;
    }
}